#form-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#section-date-value {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem;
}

@media screen and (max-width: 75rem) {
  #section-date-value {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
  }
}
#description-section {
  justify-content: center;
  align-items: start;
  padding: 2rem;
}

#description-section input {
  width: 100%;
}

.section-input-label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.fieldset-layout {
  width: 100%;
}

#type-transaction-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

#checkbox-layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#checkbox-layout input {
  width: 2.5rem;
  height: 2.5rem;
}
